node_modules
.prettierrc

# Local Netlify folder
.netlify

# probably can delete files named like this
old-*.txt
*.old

# for local dev notes
notes.txt

# lambda functions build dir
/server/lambda
/serverLambda/lambda
/serverLambda/lambda-build